* {
	font-size: 17px;
	font-family: "CommitMono Nerd Font Propo";
  border-radius: 0;
}

window#waybar {
	background: #261c13;
	color: #7b7e5f;

}

#tray {
  margin-right: 10px;
}

#workspaces button {
  padding: 0 8px;
    color: #555555;
}
#workspaces button.focused {
  background: #7b7e5f;	
  color: #261c13;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
  padding: 0 8px;
}
#workspaces button:hover {
	
	border: #1a1a1a;
	padding: 0 8px;
}
#backlight{
    color: #268bd2;
}
#custom-pomodoro.work{
    color: #FF474C; 
}
#custom-pomodoro.break{
    color: #D3B683; 
}
#battery {
	color: #859900;
}
#battery.warning{ 
	color: #FFA500;
}
#battery.critical{
    color: #FF0000;
}
#network{
	color: #6c71c4;
}
#network.disconnected{
    color: #FF0000;
}

#clock,
#pulseaudio,
#backlight,
#memory,
#cpu,
#network, 
#custom-pomodoro, 
#battery,
#disk {
	padding: 0 10px;
}
